<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<div>
   <!-- {
        foreach (var i in Languages.LanguageManager.AvailableLanguages)
        {
            Html.ActionLink(i.LanguageName, "ChangeLanguage",
                    "Home", new { lang = i.LanguageCultureName }, null) <text> </text>
                }
    }-->
</div>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
