@model IEnumerable<ProiectFinal.Models.Cos>

@{
    ViewBag.Title = "Cosul meu";
}

<h2 font face="Comic Sans MS"><b>Cosul meu</b></h2>


<table class="table">
    <tr>
        <th>
            Denumire
        </th>
        <th>
            Pret
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pret)
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Cos", new { numeProdus = item.denumire }))
                {
                    <input type="submit" name=@item.denumire value="-" class="btn btn-default" />
                }
            </td>
        </tr>
    }

</table>


    <h4>Pret:  @Model.Sum(i => i.pret)</h4>
    <div>
        <form>
            <label>Adresa:</label>
            <input type="text"><br><br>

        </form>
        @using (Html.BeginForm("Comanda", "Cos", new { numeProdus = "xd" }))
        {
            <input type="submit" name="xd" value="Comanda" class="btn btn-default" />
        }
    </div>