@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurantele noastre</h1>
    <p class="lead">Alege unul dintre restaurantele noastre cu mancare gatita cu pasine doar pentru tine.</p>
</div>

<div class="d-flex flex-row">
    <!---
        idee de cum am putea face pagina principala
    --->
    <div>
        <!--- link de redirectare --->
        <a href="/Home/Contact">
            <!---E un buton cu o imagine pe care o am salvata in images cu un width si height setat si mama mia e numele ce e scris jos(poate fi stilizat sau ce vrei tu sa faci cu el-->
            <button class="bottom-left"><img src="~/images/mamaMia.jpg" width="361" height="200" class="bottom" /><div>Mama mia</div></button>
        </a>
    </div>
</div>

   